.centered-image {
  width: 50%;
  height: auto;
}

.important {
  color: #009900;
}

.highlight {
  color: #e62e00;
}

.sports {
  font-style: italic;
}

.my-class {
  margin: 50px;
  border-width: 50px solid black;
  padding: 20px;
  background-color: rgb(230, 230, 230);
}

.author {
  width: 45%;
  font-weight: bold;
}

img {
  border-radius: 50%;
}

.box {
  width: 80%;
  border: solid black;
  border-width: 1px;
  background-color: rgb(161, 205, 241);
  margin-bottom: 50px;
  margin-top: 10px;
}
